<div>
    <div class="tabs is-centered is-boxed is-medium">
        <ul>
          <li ng-click="setHss()" ng-class="{'is-active':hss=='true'}">
            <a>
              <span class="icon is-small"><i class="fa fa-sticky-note" aria-hidden="true"></i></span>
              <span>Hindi Salahakar Samiti</span>
            </a>
          </li>
          <li ng-click="setWwd()" ng-class="{'is-active':wwd=='true'}">
            <a>
              <span class="icon is-small"><i class="fa fa-handshake-o" aria-hidden="true"></i></span>
              <span>Who's who Doner</span>
            </a>
          </li>
          <li ng-click="setAbr()" ng-class="{'is-active':abr=='true'}">
            <a>
              <span class="icon is-small"><i class="fa fa-briefcase" aria-hidden="true"></i></span>
              <span>Allocation of Buisness Rules</span>
            </a>
          </li>
          <li ng-click="setMd()" ng-class="{'is-active':md=='true'}">
            <a>
              <span class="icon is-small"><i class="fa fa-user" aria-hidden="true"></i></span>
              <span>Minister, DoNER</span>
            </a>
          </li>
          <li ng-click="setAct()" ng-class="{'is-active':act=='true'}">
            <a>
              <span class="icon is-small"><i class="fa fa-file-text-o"></i></span>
              <span>Activities</span>
            </a>
          </li>
        </ul>
      </div>
      <div ng-switch on="state">
        <div ng-switch-when="hss" class="about-pad">
           <center><a href="http://www.mdoner.gov.in/sites/default/files/English.pdf"><u>Hindi Salahakar Samiti Resolution</u></a></center>
        </div>
        <div ng-switch-when="wwd" class="about-pad" style="overflow-x: auto;">
          <table class="table" width="100%" cellspacing="0" cellpadding="0" border="0">
            <caption><h1 class="title">Hon'ble Minister</h1></caption>
            
            
            
            <tbody>
            <tr class="odd">
            <th width="8%" valign="top">Sl. No.</th>
            <th width="34%" valign="top">Name</th>
            <th width="59%" valign="top" align="center" colspan="2">Contacts</th>
            </tr>
                        <tr class="odd">
            <td valign="top" rowspan="5">1.</td>
            <td valign="top" rowspan="5"><p><strong>Dr. Jitendra Singh</strong></p>
            <p>&nbsp;</p>
            <p><strong>Minister of State (IC)</strong></p>
            <p>&nbsp;</p>
            <p>258, First floor,</p>
            <p>&nbsp;</p>
            <p>Vigyan Bhavan Annexe,</p>
            <p>&nbsp;</p>
            <p>Maulana Azad Road</p>
            <p>&nbsp;</p>
            <p>New Delhi - 110011</p></td>
            <td width="6%" valign="top">Off.:</td>
            <td width="49%" valign="top">23022401 <br />23022400 <br /> 23062753</td>
            </tr>
            <tr class="odd">
            <td valign="top">Fax:</td>
            <td valign="top">23062754</td>
            </tr>
            <tr class="odd">
            <td valign="top">Resi.:</td>
            <td valign="top"></td>
            </tr>
            <tr class="odd">
            <td valign="top">Mobile:</td>
            <td valign="top"></td>
            </tr>
            <tr class="odd">
            <td valign="top">E-mail:</td>
            <td valign="top"></td>
            </tr>
                        <tr class="even">
            <td valign="top" rowspan="5">2.</td>
            <td valign="top" rowspan="5"><p><strong>Shri M. Saravanan</strong></p>
            <h3 class="done-css-h3">
              &nbsp;</h3>
            <p><strong>PS to Minister</strong></p>
            <p>&nbsp;</p>
            <p>Room No. 262</p></td>
            <td width="6%" valign="top">Off.:</td>
            <td width="49%" valign="top">23022401 <br />23022400 <br /> 23062753</td>
            </tr>
            <tr class="even">
            <td valign="top">Fax:</td>
            <td valign="top">23062754</td>
            </tr>
            <tr class="even">
            <td valign="top">Resi.:</td>
            <td valign="top"></td>
            </tr>
            <tr class="even">
            <td valign="top">Mobile:</td>
            <td valign="top"></td>
            </tr>
            <tr class="even">
            <td valign="top">E-mail:</td>
            <td valign="top"></td>
            </tr>
                        <tr class="odd">
            <td valign="top" rowspan="5">3.</td>
            <td valign="top" rowspan="5"><h3 class="done-css-h3">
              &nbsp;</h3>
            <p><strong>Shri M. Venkatesan</strong></p>
            <p>&nbsp;</p>
            <p><strong>Addl. P. S. to Minister</strong></p>
            <h3 class="done-css-h3">
              &nbsp;</h3>
            <p>Room No. 265</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p></td>
            <td width="6%" valign="top">Off.:</td>
            <td width="49%" valign="top">23022401 <br />23022400<br /> 23062754</td>
            </tr>
            <tr class="odd">
            <td valign="top">Fax:</td>
            <td valign="top">23062754</td>
            </tr>
            <tr class="odd">
            <td valign="top">Resi.:</td>
            <td valign="top"></td>
            </tr>
            <tr class="odd">
            <td valign="top">Mobile:</td>
            <td valign="top"></td>
            </tr>
            <tr class="odd">
            <td valign="top">E-mail:</td>
            <td valign="top"></td>
            </tr>
                        <tr class="even">
            <td valign="top" rowspan="5">4.</td>
            <td valign="top" rowspan="5"><p><strong>Shri Krishna Mohan Uppu</strong></p>
            <p>&nbsp;</p>
            <p><strong>OSD to Minister</strong></p>
            <p>&nbsp;</p>
            <p>Room No. 263</p></td>
            <td width="6%" valign="top">Off.:</td>
            <td width="49%" valign="top">23022401 <br />23022400<br /> 23062754</td>
            </tr>
            <tr class="even">
            <td valign="top">Fax:</td>
            <td valign="top">23062754</td>
            </tr>
            <tr class="even">
            <td valign="top">Resi.:</td>
            <td valign="top"></td>
            </tr>
            <tr class="even">
            <td valign="top">Mobile:</td>
            <td valign="top"></td>
            </tr>
            <tr class="even">
            <td valign="top">E-mail:</td>
            <td valign="top">krishna[dot]mu[at]nic[dot]in</td>
            </tr>
            </tbody>
            </table>
        </div>
        <div ng-switch-when="abr" class="about-pad">
          <h1 class="subtitle">
            As per the Government of India (Allocation of Business) Rules, 1961, the Second Schedule (Rule 3) subjects allotted to the Ministry of Development of North Eastern Region (Uttar Poorvi Kshetra Vikas Mantralaya) are as follows:</h3>
          <ol class="act-list">
            <li>
               Matters relating to the planning, execution and monitoring of developmental schemes and projects of North Eastern Region including those in the sectors of Power, Irrigation, Roads and Communications.</li>
            <li>
               Hill Area Development Programmed in North Eastern Region.&nbsp;</li>
            <li>
               Non-lapsable Fund for the North Eastern Region.</li>
            <li>
               North Eastern Council.</li>
            <li>
               North Eastern Development Finance Corporation Ltd. (NEDFI).</li>
            <li>
               North Eastern Regional Agricultural Marketing Corporation Limited (NERAMAC).</li>
            <li>
               The Sikkim Mining Corporation Limited.</li>
            <li>
               North Eastern Handloom and Handicrafts Development Corporation (NEHHDC), Shillong.</li>
            <li>
               Road works financed in whole or in part by the Central Government in the North Eastern Region.</li>
            <li>
               Planning of Road and Inland Waterways Transport in the North Eastern Region.<br />
              &nbsp;</li>
          </ol>
          <p>Note: While the Ministry of Development of North Eastern Region would coordinate with various Ministries/Departments primarily concerned with development and welfare activities in North Eastern Region, respective Ministries/Departments would be responsible in respect of subjects allocated to them.</p>
        </div>
        <div ng-switch-when="md" class="about-pad">
            <article class="media">
                <figure class="media-left">
                  <p class="image is-128x128">
                    <img src="jitendra.jpg">
                  </p>
                </figure>
                <div class="media-content">
                  <div class="content">
                    <p>
                      <strong>Dr. Jitendra Singh</strong> <small>MBBS (Stanley, Chennai)</small> <small>MD Medicine, Fellowship (AIIMS, NDL)
                        MNAMS Diabetes & Endocrinology,</small>
                      <br>
                      Dr. Jitendra Singh is a popular Diabetes specialist of international repute, Professor Diabetes and Endocrinology, noted intellectual, author, invited faculty to all the major national and South-Asia Diabetes conferences and a social activist.
                    </p>
                  </div>
                  <nav class="level is-mobile">
                    <div class="level-left">
                      <a class="level-item">
                        <span class="icon is-small"><i class="fa fa-reply"></i></span>
                      </a>
                      <a class="level-item">
                        <span class="icon is-small"><i class="fa fa-retweet"></i></span>
                      </a>
                      <a class="level-item">
                        <span class="icon is-small"><i class="fa fa-heart"></i></span>
                      </a>
                    </div>
                  </nav>
                </div>
                <div class="media-right">
                </div>
              </article>
        </div>
        <div ng-switch-when="act" class="about-pad">
            <ol class="act-list" type="1">
                <li> Non Lapsable Central Pool of Resources (NLCPR)</li>
                <li> North Eastern Council</li>
                <li> Social and Infrastructure Development Fund (SIDF) – Finance Minister's Package for NER, 2008-09
                </li>
                <li> North Eastern Regional Agricultural Marketing Corporation Ltd (NERAMAC)
                </li>
                <li> North Eastern Handicrafts and Handlooms Development Corporation (NEHHDC)
                </li>
                <li> North East Development Finance Corporation Ltd. (NEDFi)
                </li>
                <li> Plan Scheme of 'Advocacy & Publicity'
                </li>
                <li> Plan Scheme of 'Capacity Building & Technical Assistance (CB&TA)'
                </li>
            </ol>
        </div>
      </div>
</div>