<div>
    <div class="tabs is-centered is-boxed is-medium">
        <ul>
          <li ng-click="setAr()" ng-class="{'is-active':ar=='true'}">
            <a>
              <span class="icon is-small"><i class="fa fa-sticky-note" aria-hidden="true"></i></span>
              <span>Annual Report</span>
            </a>
          </li>
          <li ng-click="setEb()" ng-class="{'is-active':eb=='true'}">
            <a>
              <span class="icon is-small"><i class="fa fa-handshake-o" aria-hidden="true"></i></span>
              <span>E-Book</span>
            </a>
          </li>
          <li ng-click="setBae()" ng-class="{'is-active':bae=='true'}">
            <a>
              <span class="icon is-small"><i class="fa fa-briefcase" aria-hidden="true"></i></span>
              <span>Budget Allocation Expenditure</span>
            </a>
          </li>
          <li ng-click="setDdg()" ng-class="{'is-active':ddg=='true'}">
            <a>
              <span class="icon is-small"><i class="fa fa-user" aria-hidden="true"></i></span>
              <span>Detailed Demands for Grants</span>
            </a>
          </li>
        </ul>
      </div>
      <div ng-switch on="state">
        <div ng-switch-when="ar" class="about-pad">
          <ol type="1">
              <li><a href="http://www.mdoner.gov.in/sites/default/files/NER%20AR%2016-17%20English%20LR.pdf">2016-17</a></li>
              <li><a href="http://www.mdoner.gov.in/sites/default/files/NER%20AR%2015-16.pdf">2015-16</a></li>
              <li><a href="http://www.mdoner.gov.in/sites/default/files/NER%20AR%2014-15%20Eng%20Final%20LR.pdf">2014-15</a></li>
          </ol>
        </div>
        <div ng-switch-when="eb" class="about-pad">
            <ol type="1">
                <li><a href="http://www.mdoner.gov.in/sites/default/files/eBook.pdf">E-Bookof Ministry of DoNER</a></li>
            </ol>
        </div>
        <div ng-switch-when="bae" class="about-pad">
            <ol type="1">
                <li><a href="http://www.mdoner.gov.in/sites/default/files/2013-2014_1.pdf">2013-14</a></li>
                <li><a href="http://www.mdoner.gov.in/sites/default/files/2012-13.pdf">2012-13</a></li>
                <li><a href="http://www.mdoner.gov.in/sites/default/files/2011-12.pdf">2011-12</a></li>
            </ol> 
        </div>
        <div ng-switch-when="ddg" class="about-pad" style="overflow-x: auto;">
            <table class="views-table cols-4 table">
                <caption><h1 class="subtitle">Detailed Demands for Grants</h1></caption>
              <thead>
                <tr>
                           <th class="views-field views-field-field-datee-value">
                      Financial Year        </th>
                           <th class="views-field views-field-field-noo-value">
                      Sl. No.        </th>
                           <th class="views-field views-field-field-describe-value">
                      Description        </th>
                           <th class="views-field views-field-field-pdficon-fid">
                      Page No.        </th>
                      </tr>
              </thead>
              <tbody>
                      <tr class="odd views-row-first">
                              <td class="views-field views-field-field-datee-value">
                        <span class="date-display-single">2016</span>          </td>
                              <td class="views-field views-field-field-noo-value">
                        1          </td>
                              <td class="views-field views-field-field-describe-value">
                        Cover Page          </td>
                              <td class="views-field views-field-field-pdficon-fid">
                        <div class="filefield-file clear-block"><a href="http://www.mdoner.gov.in/sites/default/files/p.1.pdf" type="application/pdf; length=211570" title="p.1.pdf" target="_blank">0-1</a></div>          </td>
                          </tr>
                      <tr class="even">
                              <td class="views-field views-field-field-datee-value">
                        <span class="date-display-single">2016</span>          </td>
                              <td class="views-field views-field-field-noo-value">
                        2          </td>
                              <td class="views-field views-field-field-describe-value">
                        Detailed Demands for Grants          </td>
                              <td class="views-field views-field-field-pdficon-fid">
                        <div class="filefield-file clear-block"><a href="http://www.mdoner.gov.in/sites/default/files/2-21.pdf" type="application/pdf; length=396418" title="2-21.pdf" target="_blank">2-21</a></div>          </td>
                          </tr>
                      <tr class="odd">
                              <td class="views-field views-field-field-datee-value">
                        <span class="date-display-single">2016</span>          </td>
                              <td class="views-field views-field-field-noo-value">
                        3          </td>
                              <td class="views-field views-field-field-describe-value">
                        Statement Showing List of Plan Schemes/Projects of North Eastern Council covered Under Major Head "3601" Grants in aid to State Goverments          </td>
                              <td class="views-field views-field-field-pdficon-fid">
                        <div class="filefield-file clear-block"><a href="http://www.mdoner.gov.in/sites/default/files/22-27.pdf" type="application/pdf; length=248578" title="22-27.pdf" target="_blank">22-27</a></div>          </td>
                          </tr>
                      <tr class="even">
                              <td class="views-field views-field-field-datee-value">
                        <span class="date-display-single">2016</span>          </td>
                              <td class="views-field views-field-field-noo-value">
                        4          </td>
                              <td class="views-field views-field-field-describe-value">
                        Statement Showing the Detailed Provisions, Object Head-wise          </td>
                              <td class="views-field views-field-field-pdficon-fid">
                        <div class="filefield-file clear-block"><a href="http://www.mdoner.gov.in/sites/default/files/p.28Head%20wise.pdf" type="application/pdf; length=141322" title="p.28Head wise.pdf" target="_blank">28</a></div>          </td>
                          </tr>
                      <tr class="odd">
                              <td class="views-field views-field-field-datee-value">
                        <span class="date-display-single">2016</span>          </td>
                              <td class="views-field views-field-field-noo-value">
                        5          </td>
                              <td class="views-field views-field-field-describe-value">
                        Statement Showing broad details of Non-Plan expenditure costing Rs.25 Lakh and above included in the Budget Estimates for 2016-17          </td>
                              <td class="views-field views-field-field-pdficon-fid">
                        <div class="filefield-file clear-block"><a href="http://www.mdoner.gov.in/sites/default/files/P.29%20NON%20PLAN%20PROVISION.pdf" type="application/pdf; length=147284" title="P.29 NON PLAN PROVISION.pdf" target="_blank">29</a></div>          </td>
                          </tr>
                      <tr class="even">
                              <td class="views-field views-field-field-datee-value">
                        <span class="date-display-single">2016</span>          </td>
                              <td class="views-field views-field-field-noo-value">
                        6          </td>
                              <td class="views-field views-field-field-describe-value">
                        Statement showing Grants -in- aid expceeding Rs. 5 Lakh [recurring] or Rs. 10 Lakh [non-recurring] sanctioned to private institutions/organizations/individuals during the year 2013-14          </td>
                              <td class="views-field views-field-field-pdficon-fid">
                        <div class="filefield-file clear-block"><a href="http://www.mdoner.gov.in/sites/default/files/P-30.pdf" type="application/pdf; length=119727" title="P-30.pdf" target="_blank">30</a></div>          </td>
                          </tr>
                      <tr class="odd">
                              <td class="views-field views-field-field-datee-value">
                        <span class="date-display-single">2016</span>          </td>
                              <td class="views-field views-field-field-noo-value">
                        7          </td>
                              <td class="views-field views-field-field-describe-value">
                        MINISTRY OF DEVELOPMENT OF NORTH EASTERN REGION SECRETARIAT:  Major Head 2052          </td>
                              <td class="views-field views-field-field-pdficon-fid">
                        <div class="filefield-file clear-block"><a href="http://www.mdoner.gov.in/sites/default/files/P.31%20Est.%20strngth.pdf" type="application/pdf; length=174989" title="P.31 Est. strngth.pdf" target="_blank">31</a></div>          </td>
                          </tr>
                      <tr class="even">
                              <td class="views-field views-field-field-datee-value">
                        <span class="date-display-single">2016</span>          </td>
                              <td class="views-field views-field-field-noo-value">
                        8          </td>
                              <td class="views-field views-field-field-describe-value">
                        Statement showing the estimated strength to Establishment and provisions therefore in respect of North Eastern Council Secretariat, Shillong          </td>
                              <td class="views-field views-field-field-pdficon-fid">
                        <div class="filefield-file clear-block"><a href="http://www.mdoner.gov.in/sites/default/files/p-32.Staff%20Strength-NEC.pdf" type="application/pdf; length=145369" title="p-32.Staff Strength-NEC.pdf" target="_blank">32</a></div>          </td>
                          </tr>
                      <tr class="odd">
                              <td class="views-field views-field-field-datee-value">
                        <span class="date-display-single">2016</span>          </td>
                              <td class="views-field views-field-field-noo-value">
                        9          </td>
                              <td class="views-field views-field-field-describe-value">
                        Details of individual works costing rs. 5 cr or above          </td>
                              <td class="views-field views-field-field-pdficon-fid">
                        <div class="filefield-file clear-block"><a href="http://www.mdoner.gov.in/sites/default/files/p-33-38.pdf" type="application/pdf; length=228191" title="p-33-38.pdf" target="_blank">33-38</a></div>          </td>
                          </tr>
                      <tr class="even">
                              <td class="views-field views-field-field-datee-value">
                        <span class="date-display-single">2015</span>          </td>
                              <td class="views-field views-field-field-noo-value">
                        1          </td>
                              <td class="views-field views-field-field-describe-value">
                        Cover Page          </td>
                              <td class="views-field views-field-field-pdficon-fid">
                        <div class="filefield-file clear-block"><a href="http://www.mdoner.gov.in/sites/default/files/p1.pdf" type="application/pdf; length=219166" title="p1.pdf" target="_blank">0-1</a></div>          </td>
                          </tr>
                      <tr class="odd">
                              <td class="views-field views-field-field-datee-value">
                        <span class="date-display-single">2015</span>          </td>
                              <td class="views-field views-field-field-noo-value">
                        2          </td>
                              <td class="views-field views-field-field-describe-value">
                        Detailed Demands for Grants          </td>
                              <td class="views-field views-field-field-pdficon-fid">
                        <div class="filefield-file clear-block"><a href="http://www.mdoner.gov.in/sites/default/files/Detailed%20Demands%20for%20Grants.pdf" type="application/pdf; length=709070" title="Detailed Demands for Grants.pdf" target="_blank">2-36</a></div>          </td>
                          </tr>
                      <tr class="even">
                              <td class="views-field views-field-field-datee-value">
                        <span class="date-display-single">2015</span>          </td>
                              <td class="views-field views-field-field-noo-value">
                        3          </td>
                              <td class="views-field views-field-field-describe-value">
                        Statement Showing List of Plan Schemes/Projects of North Eastern Council covered Under Major Head "3601" Grants in aid to State Goverments          </td>
                              <td class="views-field views-field-field-pdficon-fid">
                        <div class="filefield-file clear-block"><a href="http://www.mdoner.gov.in/sites/default/files/37-42_0.pdf" type="application/pdf; length=175038" title="37-42.pdf" target="_blank">37-42</a></div>          </td>
                          </tr>
                      <tr class="odd">
                              <td class="views-field views-field-field-datee-value">
                        <span class="date-display-single">2015</span>          </td>
                              <td class="views-field views-field-field-noo-value">
                        4          </td>
                              <td class="views-field views-field-field-describe-value">
                        Statement Showing the Detailed Provisions, Object Head-wise          </td>
                              <td class="views-field views-field-field-pdficon-fid">
                        <div class="filefield-file clear-block"><a href="http://www.mdoner.gov.in/sites/default/files/P.43_0.pdf" type="application/pdf; length=75793" title="P.43.pdf" target="_blank">43</a></div>          </td>
                          </tr>
                      <tr class="even">
                              <td class="views-field views-field-field-datee-value">
                        <span class="date-display-single">2015</span>          </td>
                              <td class="views-field views-field-field-noo-value">
                        5          </td>
                              <td class="views-field views-field-field-describe-value">
                        Statement Showing broad details of Non-Plan expenditure costing Rs.25 Lakh and above included in the Budget Estimates for 2015-16          </td>
                              <td class="views-field views-field-field-pdficon-fid">
                        <div class="filefield-file clear-block"><a href="http://www.mdoner.gov.in/sites/default/files/P.44%20NON%20PLAN%20PROVISION_0.pdf" type="application/pdf; length=76179" title="P.44 NON PLAN PROVISION.pdf" target="_blank">44</a></div>          </td>
                          </tr>
                      <tr class="odd views-row-last">
                              <td class="views-field views-field-field-datee-value">
                        <span class="date-display-single">2015</span>          </td>
                              <td class="views-field views-field-field-noo-value">
                        6          </td>
                              <td class="views-field views-field-field-describe-value">
                        Statement showing Grants -in- aid expceeding Rs. 5 Lakh [recurring] or Rs. 10 Lakh [non-recurring] sanctioned to private institutions/organizations/individuals during the year 2013-14          </td>
                              <td class="views-field views-field-field-pdficon-fid">
                        <div class="filefield-file clear-block"><a href="http://www.mdoner.gov.in/sites/default/files/P-45-46.pdf" type="application/pdf; length=73733" title="P-45-46.pdf" target="_blank">45-46</a></div>          </td>
                          </tr>
                  </tbody>
            </table>
      </div>
</div>