<div>
    <div class="tabs is-centered is-boxed is-medium">
        <ul>
          <li ng-click="setMm()" ng-class="{'is-active':mm=='true'}">
            <a>
              <span class="icon is-small"><i class="fa fa-sticky-note" aria-hidden="true"></i></span>
              <span>17 Mandatory Manuals</span>
            </a>
          </li>
          <li ng-click="setCaa()" ng-class="{'is-active':caa=='true'}">
            <a>
              <span class="icon is-small"><i class="fa fa-handshake-o" aria-hidden="true"></i></span>
              <span>CPIOs & Appellate Authorities</span>
            </a>
          </li>
        </ul>
      </div>
      <div ng-switch on="state">
        <div ng-switch-when="mm" class="about-pad">
         
          <h1 class="subtitle">
            Ministry of DONER <br>
            Right to Information Act, 2005 <br>
            Proactive Disclosure of 17 Manuals under Section 4(i)(b)
          </h1>
          <br>
          <table class="table" border="0" cellpadding="0" cellspacing="0" width="100%">
            <caption>
                <h1 class="subtitle">17 Mandatory Manuals</h1></caption>
            <tbody>
                <tr class="odd">
                    <th valign="top" width="76">
                        Sl. No.</th>
                    <th valign="top" width="991">
                        RTI Manuals as per Section 4(i)(b) of RTI Act, 2005</th>
                </tr>
                <tr class="even">
                    <td valign="top" width="76">
                        1.</td>
                    <td valign="top" width="991">
                        <a href='http://www.mdoner.gov.in/sites/default/files/RTI_0.pdf' target='_blank' title='A PDF file that opens in new window. To know how to open PDF file refer Help section located at bottom of the site.'>The particulars of the organisation, functions and duties</a><span class='filefield file-size'>(59.2 KB)</span></td>
                </tr>
                <tr class="odd">
                    <td valign="top" width="76">
                        2.</td>
                    <td valign="top" width="991">
                        <a href='http://www.mdoner.gov.in/sites/default/files/rti/officers_employees.pdf' target='_blank' title='A PDF file that opens in new window. To know how to open PDF file refer Help section located at bottom of the site.'>The powers and duties of its officers and employees </a><span class='filefield file-size'>(28.8 KB)</span></td>
                </tr>
                <tr class="even">
                    <td valign="top" width="76">
                        3.</td>
                    <td valign="top" width="991">
                        <a href='http://www.mdoner.gov.in/sites/default/files/rti/supervision_accountability.pdf' target='_blank' title='A PDF file that opens in new window. To know how to open PDF file refer Help section located at bottom of the site.'>The procedure followed in the decision making process, including channels of supervision and accountability </a><span class='filefield file-size'>(56.16 KB)</span></td>
                </tr>
                <tr class="odd">
                    <td valign="top" width="76">
                        4.</td>
                    <td valign="top" width="991">
                        <a href='http://www.mdoner.gov.in/sites/default/files/rti/discharge_functions.pdf' target='_blank' title='A PDF file that opens in new window. To know how to open PDF file refer Help section located at bottom of the site.'>The norms set by it for the discharge of its functions;  </a><span class='filefield file-size'>(39.67 KB)</span></td>
                </tr>
                <tr class="even">
                    <td valign="top" width="76">
                        5.</td>
                    <td valign="top" width="991">
                        <a href='http://www.mdoner.gov.in/sites/default/files/rti/discharging_functions.pdf' target='_blank' title='A PDF file that opens in new window. To know how to open PDF file refer Help section located at bottom of the site.'>The rules, regulations, instructions, manuals and records, held by it or under its control or used by its employees for discharging its functions </a><span class='filefield file-size'>(39.09 KB)</span></td>
                </tr>
                <tr class="odd">
                    <td valign="top" width="76">
                        6.</td>
                    <td valign="top" width="991">
                        <a href='http://www.mdoner.gov.in/sites/default/files/rti/under_control.pdf' target='_blank' title='A PDF file that opens in new window. To know how to open PDF file refer Help section located at bottom of the site.'>A statement of the categories of documents that are held by it or under its control </a><span class='filefield file-size'>(32.2 KB)</span></td>
                </tr>
                <tr class="even">
                    <td valign="top" width="76">
                        7.</td>
                    <td valign="top" width="991">
                        <a href='http://www.mdoner.gov.in/sites/default/files/rti/THEPA_1.pdf' target='_blank' title='A PDF file that opens in new window. To know how to open PDF file refer Help section located at bottom of the site.'>The particulars of any arrangement that exists for consultation with, or representation by, the members of the public in relation to the formulation of its policy or implementation thereof </a><span class='filefield file-size'>(39.58 KB)</span></td>
                </tr>
                <tr class="odd">
                    <td valign="top" width="76">
                        8.</td>
                    <td valign="top" width="991">
                        <a href='http://www.mdoner.gov.in/sites/default/files/rti/more_persons.pdf' target='_blank' title='A PDF file that opens in new window. To know how to open PDF file refer Help section located at bottom of the site.'>A statement of the boards, councils, committees and other bodies consisting of two or more persons constituted as its part or for the purpose of its advice, and as to whether meetings of those boards, councils, committees and other bodies are open to the public, or the minutes of such meetings are accessible for public </a><span class='filefield file-size'>(45.27 KB)</span></td>
                </tr>
                <tr class="even">
                    <td valign="top" width="76">
                        9.</td>
                    <td valign="top" width="991">
                        <a href='/sites/default/files/sanction%20strength.pdf' target='_blank' title='A PDF file that opens in new window. To know how to open PDF file refer Help section located at bottom of the site.'>A directory of its officers and employees </a><span class='filefield file-size'>(66.19 KB)</span></td>
                </tr>
                <tr class="odd">
                    <td valign="top" width="76">
                        10.</td>
                    <td valign="top" width="991">
                        <a href='/sites/default/files/Pay%20details.pdf' target='_blank' title='A PDF file that opens in new window. To know how to open PDF file refer Help section located at bottom of the site.'>The monthly remuneration received by each of its officers and employees, including the system of compensation as provided in its regulations </a><span class='filefield file-size'>(53.61 KB)</span></td>
                </tr>
                <tr class="even">
                    <td valign="top" width="76">
                        11.</td>
                    <td valign="top" width="991">
                        <a href='/sites/default/files/2013-2014_1_0.pdf' target='_blank' title='A PDF file that opens in new window. To know how to open PDF file refer Help section located at bottom of the site.'>The budget allocated to each of its agency, indicating the particulars of all plans, proposed expenditures and reports on disbursements made </a><span class='filefield file-size'>(17.77 KB)</span></td>
                </tr>
                <tr class="odd">
                    <td valign="top" width="76">
                        12.</td>
                    <td valign="top" width="991">
                        <a href='/sites/default/files/rti/programmes.pdf' target='_blank' title='A PDF file that opens in new window. To know how to open PDF file refer Help section located at bottom of the site.'>The manner of execution of subsidy programmes, including the amounts allocated and the details of beneficiaries of such programmes </a><span class='filefield file-size'>(30.06 KB)</span></td>
                </tr>
                <tr class="even">
                    <td valign="top" width="76">
                        13.</td>
                    <td valign="top" width="991">
                        <a href='/sites/default/files/rti/permits.pdf' target='_blank' title='A PDF file that opens in new window. To know how to open PDF file refer Help section located at bottom of the site.'>Particulars of recipients of concessions, permits or authorisations granted by it </a><span class='filefield file-size'>(29.97 KB)</span></td>
                </tr>
                <tr class="odd">
                    <td valign="top" width="76">
                        14.</td>
                    <td valign="top" width="991">
                        <a href='/sites/default/files/rti/available.pdf' target='_blank' title='A PDF file that opens in new window. To know how to open PDF file refer Help section located at bottom of the site.'>Details in respect of the information, available to or held by it, reduced in an electronic form </a><span class='filefield file-size'>(31.07 KB)</span></td>
                </tr>
                <tr class="even">
                    <td valign="top" width="76">
                        15.</td>
                    <td valign="top" width="991">
                        <a href='/sites/default/files/RTI.pdf' target='_blank' title='A PDF file that opens in new window. To know how to open PDF file refer Help section located at bottom of the site.'>The particulars of facilities available to citizens for obtaining information, including the working hours of a library or reading room, if maintained for public use </a><span class='filefield file-size'>(33.22 KB)</span></td>
                </tr>
                <tr class="odd">
                    <td valign="top" width="76">
                        16.</td>
                    <td valign="top" width="991">
                        <a href='/sites/default/files/PIO.pdf' target='_blank' title='A PDF file that opens in new window. To know how to open PDF file refer Help section located at bottom of the site.'>The names, designations and other particulars of the Public Information Officers </a><span class='filefield file-size'>(21.79 KB)</span></td>
                </tr>
                <tr class="even">
                    <td valign="top" width="76">
                        17.</td>
                    <td valign="top" width="991">
                        <a href='/sites/default/files/rti/prescribed.pdf' target='_blank' title='A PDF file that opens in new window. To know how to open PDF file refer Help section located at bottom of the site.'>Such other information as may be prescribed; and thereafter update these publications every year </a><span class='filefield file-size'>(30.29 KB)</span></td>
                </tr>
            </tbody>
        </table>
        </div>
        <div ng-switch-when="caa" class="about-pad" style="overflow-x: auto;">
            <table class="table" border="0" cellpadding="0" cellspacing="0" width="100%">
                <caption>
                    <h1 class="subtitle"> CPIOs &amp; Appellate Authorities</h1>
                </caption>
                <tbody>
                    <tr class="odd">
                        <th valign="top" width="8%">
                            Sl. No.</th>
                        <th valign="top" width="32%">
                            Ministry / Org</th>
                        <th valign="top" width="30%">
                            Central Public / Public Information Officer</th>
                        <th valign="top" width="30%">
                            Appellate Authority</th>
                    </tr>
                    <tr class="even">
                        <td valign="top">
                            1.</td>
                        <td valign="top">
                            <strong>Ministry of Development of North Eastern Region</strong></td>
                        <td valign="top">
                            <p>Shri S. P. Singh</p>
                            <p>Director</p>
                            <p>Room No. 271<br />
                                Vigyan Bhavan Annexe,<br />
                                New Delhi- 110011<br />
                                Off.:23022025<br />
                                E-mail: <a href="mailto:spsingh@nic.in">spsingh@nic.in</a></p>
                            <p>&nbsp;</p>
                            <p>Shri Ravindra Choudhury</p>
                            <p>Director</p>
                            <p>Room No. 269<br />
                                Vigyan Bhavan Annexe,<br />
                                New Delhi- 110011<br />
                                Off.:23022092<br />
                                E-mail: <a href="mailto:ravindra.c@gov.in">ravindra.c@gov.in</a></p>
                            <p>&nbsp;</p>
                            <p>Shri B. N. Prasad</p>
                            <p>Director</p>
                            <p>Room No. 284<br />
                                Vigyan Bhavan Annexe,<br />
                                New Delhi- 110011<br />
                                Off.:23015358<br />
                                E-mail: <a href="mailto:prasad.bn@nic.in">prasad.bn@nic.in</a></p>
                            <p>&nbsp;</p>
                            <p>Dr. Harmeet Singh</p>
                            <p>Director</p>
                            <p>Room No. 244<br />
                                Vigyan Bhavan Annexe,<br />
                                New Delhi- 110011<br />
                                Off.:23022026<br />
                                E-mail: <a href="mailto:hs.grewal@nic.in">hs.grewal@nic.in</a></p>
                            <p>&nbsp;</p>
                            <p>Smt. V. L. Roui Kullai</p>
                            <p>Director</p>
                            <p>Room No. 274<br />
                                Vigyan Bhavan Annexe,<br />
                                New Delhi- 110011<br />
                                Off.:23794689<br />
                                E-mail: <a href="mailto:vlroui1@gmail.com">vlroui1@gmail.com</a></p>
                            <p>&nbsp;</p>
                            <p>Smt. Mercy Epao</p>
                            <p>Director</p>
                            <p>Room No. 255<br />
                                Vigyan Bhavan Annexe,<br />
                                New Delhi- 110011<br />
                                Off.:23022304<br />
                                E-mail: <a href="mailto:mercy.epao@nic.in">mercy.epao@nic.in</a></p>
                            <p>&nbsp;</p>
                            <p>Smt. Samita Arora</p>
                            <p>Director</p>
                            <p>Room No. 267<br />
                                Vigyan Bhavan Annexe,<br />
                                New Delhi- 110011<br />
                                Off.:23015184<br />
                                E-mail: <a href="mailto:samita.arora@nic.in">samita.arora@nic.in</a></p>
                        </td>
                        <td valign="top">
                            Shri S.L. Meena<br />
                            Joint Secretary<br />
                            <br />
                            Vigyan Bhavan Annexe,<br />
                            New Delhi- 110011<br />
                            <br />
                            Off.: 23794694<br />
                            Fax:23022013<br />
                            E-mail:shankarl.meena@nic.in</td>
                    </tr>
                    <tr class="odd">
                        <td valign="top">
                            2.</td>
                        <td valign="top">
                            <strong>North Eastern Council (NEC)</strong></td>
                        <td valign="top">
                            Shri Dani Salu<br />
                            Deputy Financial Adviser<br />
                            Nongrim Hills<br />
                            Shillong-793003<br />
                            <br />
                            Off.: 0364-2522660<br />
                            Res.: 0364- 2522707<br />
                            Mob.: 9436105358<br />
                            E-mail: necfin[at]nic[dot]in, danisalu2004[at]yahoo[dot]co[dot]uk</td>
                        <td valign="top">
                            Shri J. Lhungdim<br />
                            Planning Adviser<br />
                            Nongrim Hills<br />
                            Shillong-793003<br />
                            <br />
                            Off.: 0364-2522675<br />
                            Fax: 0364- 2522779<br />
                            Res.: 0364- 2522675<br />
                            Mob.: 9436994876<br />
                            E-mail: lhungdimj[at]nic[dot]in, lhundimj[at]gmail[dot]com</td>
                    </tr>
                    <tr class="even">
                        <td valign="top">
                            3.</td>
                        <td valign="top">
                            <strong>North Eastern Regional Agricultural Marketing Corporation (NERAMAC)</strong></td>
                        <td valign="top">
                            Shri P.C.Roy<br />
                            Sr. Zonal Manager (Assam/Meghalaya) NERAMAC Ltd.<br />
                            9, Rajbari Path, Ganeshguri<br />
                            G S Road, Guwahati &ndash; 781 005<br />
                            <br />
                            Phone: (0361) 2341427<br />
                            Fax: (0361)&nbsp; 2341428<br />
                            Mob.: 09957032556<br />
                            E-mail: pcroy.neramac@gmail.com</td>
                        <td valign="top">
                            Shri K.C.S.Kurup<br />
                            General Manager (M)<br />
                            NERAMAC Ltd.<br />
                            9, Rajbari Path, Ganeshguri&nbsp; G S Road,<br />
                            Guwahati &ndash; 781 005<br />
                            <br />
                            Phone: (0361) 2341427<br />
                            Fax: (0361)&nbsp; 2341428<br />
                            Mob.: 09706098141<br />
                            E-mail: gmm.neramac@gmail.com</td>
                    </tr>
                    <tr class="odd">
                        <td valign="top">
                            &nbsp;</td>
                        <td valign="top">
                            <strong>North Eastern Handicrafts and Handlooms Development Corporation (NEHDDC)</strong></td>
                        <td valign="top">
                            Shri T. K. Sarma<br />
                            Manager Marketing (HL/HC)<br />
                            Regional Office, NEHHDC Ltd.<br />
                            East Point Tower<br />
                            6th Floor, M D Road<br />
                            Bamunimaidan<br />
                            Guwahati- 781021<br />
                            <br />
                            Off.: 0361-2654780-781, 2654830<br />
                            Fax: 0361-2655934, 2659909<br />
                            E-mail: nehhdcro[at]yahoo[dot]co[dot]in</td>
                        <td valign="top">
                            Shri Dhiraj Thakuria<br />
                            Deputy General Manager (Tech. / Marketing)<br />
                            NEHHDC Ltd.<br />
                            East Point Tower<br />
                            6th Floor, M D Road<br />
                            Bamunimaidan<br />
                            Guwahati- 781021<br />
                            <br />
                            Off.: 0361-2659909<br />
                            Fax: 0361-2655934, 2659909<br />
                            E-mail: nehhdcro[at]sify[dot]com</td>
                    </tr>
                    <tr class="even">
                        <td valign="top">
                            5.</td>
                        <td valign="top">
                            <strong>North Eastern Development Finance Corp. (NEDFi)</strong></td>
                        <td valign="top">
                            Smt. Jumita Saikia<br />
                            Assistant Manager<br />
                            Basundhara Enclave<br />
                            B K Kakati Road<br />
                            Ulubari, Guwahati-781007<br />
                            <br />
                            Off.: (0361) 2529202-206<br />
                            (0361) 2528941-2453006<br />
                            Fax: (0361 2529178-2528338</td>
                        <td valign="top">
                            Shri Gautam Chintey<br />
                            Asstt. Gen. Manager<br />
                            Basundhara Enclave<br />
                            B K Kakati Road<br />
                            Ulubari, Guwahati-781007<br />
                            <br />
                            Off.: (0361) 2529202-206<br />
                            (0361) 2528941, 2453006<br />
                            Fax: (0361 2529178, 2528338</td>
                    </tr>
                </tbody>
            </table>
        </div>
      </div>
</div>